* {
  all: unset;  /*TODO: use this preset for everything, as it would give you 10x more control over size stuff, but you need to reorganize scaling! */
  font-family: "FantasqueSansM Nerd Font";
}


.greeter {
    background-color: transparent;
}
.greeter-box {
    /* background-color: alpha(rgb(255,0,0), 0.2); */
}
.greeter-input-label {
    font-size: 85em;
    opacity: 0.45;
    padding-right: 1.5em;
    padding-bottom: 25em;
}
.greeter-password-entry {
    opacity: 0;
}
